$pageBackground: #ffffff;
$textPrimary: #212121;
$blackColor: #212121;

$font-family-main: League Spartan;

$mobile: 480px;
$tabletMin: 481px;
$tablet: 960px;
$laptopMin: 961px;
$laptopMedium: 1150px;
$laptop: 1280px;
$desktopUp: 1281px;
$desktop: 1440px;
$max-content-width: 1280px;

@mixin media($breakpoint) {
  @if $breakpoint ==mobile {
    @media only screen and (max-width: $mobile) {
      @content;
    }
  }

  @if $breakpoint ==tablet {
    @media only screen and (max-width: $tablet) {
      @content;
    }
  }

  @if $breakpoint ==laptop {
    @media only screen and (max-width: $laptop) {
      @content;
    }
  }

  @if $breakpoint ==laptopMedium {
    @media only screen and (max-width: $laptopMedium) {
      @content;
    }
  }

  @if $breakpoint ==desktop {
    @media only screen and (max-width: $desktop) {
      @content;
    }
  }

  @if $breakpoint ==tabletUp {
    @media only screen and (min-width: 481px) {
      @content;
    }
  }

  @if $breakpoint ==laptopUp {
    @media only screen and (min-width: $laptopMin) {
      @content;
    }
  }

  @if $breakpoint ==desktopUp {
    @media only screen and (min-width: $desktopUp) {
      @content;
    }
  }
}

@mixin laptopOnly {
  @media only screen and (min-width: $laptopMin) and (max-width: $laptop) {
    @content;
  }
}

@mixin tabletOnly {
  @media only screen and (min-width: $tabletMin) and (max-width: $tablet) {
    @content;
  }
}
