.wrapper {
  position: absolute;
  background-color: lightblue;
  border: 1px solid blue;
  width: max-content;
}

.resizer {
  position: absolute;
  width: 10px;
  height: 10px;
  bottom: 0;
  right: 0;
  background-color: blue;
  cursor: se-resize;
}

.dragHandle {
  cursor: "move";
  padding: 5px;
  border-bottom: 1px solid black;
}
